<div class="main">
    <div class="pretty-table">
        <table>
            <thead>
            <tr>
                <th>标签</th>
                <th>内容</th>
                <th>剩余天数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each todos}}
                {{#unless this.done}}
                    <tr>
                        <td>{{this.tag}}</td>
                        <td>{{this.content}}</td>
                        <td>{{this.remainDay}}</td>
                        <td><a href="/todo/delete/{{this._id}}" title="删除该条目">删除</a> -
                            <a href="/todo/done/{{this._id}}" title="完成该条目">完成</a>
                        </td>
                    </tr>
                {{/unless}}
            {{/each}}

            <tr>
                <td><input title="标签" type="text" name="tag" list="tags" required form="create" autocomplete="off"></td>
                <td><input title="内容" type="text" name="content" list="contents" required form="create" autocomplete="off"></td>
                <td><input title="截止日期" type="date" name="endDate" required form="create" min={{time_now}} value={{time_now}}></td>
                <td><input type="submit" value="添加" form="create"></td>
                <datalist id="tags">
                    <option value="{{this.tag}}">
                </datalist>
                <datalist id="contents">
                    {{#each contents}}
                    <option value="{{this.content}}">
                    {{/each}}
                </datalist>
            </tr>
                {{#each todos}}
                    {{#if this.done}}
                        <tr class="delete">
                            <td>{{this.tag}}</td>
                            <td>{{this.content}}</td>
                            <td>{{this.remainDay}}</td>
                            <td><a href="/todo/delete/{{this._id}}" title="删除该条目">删除</a> -
                                <a href="/todo/undone/{{this._id}}" title="恢复该条目">恢复</a>
                            </td>
                        </tr>
                    {{/if}}
                {{/each}}

                </tbody>
            </table>
        </div>
        <div class="dialog">
            <form action="/todo/create" method="post" accept-charset="utf-8" id="create"></form>
            <p><a href="/auth/login">回首页</a></p>
        </div>
    </div>